body {
  padding: 0px;
  margin: 0px;
}

main {
  padding: 16px;
}

img {
  height: 200px;
}

nav {
  padding: 16px;
  border-bottom: 1px;
}
/* header turns green */
.has-green-text {
  color: darkgreen;
}
/* turns the background to red with white text */
.has-red-background {
  background-color: red;
}

/* turns the background of the footer green  */
.has-green-background {
  background-color: limegreen;
  padding: 10px 0;
  font-size: 0.7em;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
a {
  color: darkgreen;
}
tr:nth-child(even) {
  background-color: lightgrey;
}
.has-white-text {
  color: white;
}
a {
  text-decoration: none;
}
footer {
  position: fixed;
  width: 100%;
  padding: 16px;
  bottom: 0;
}
a:hover {
  color: blueviolet;
}
